body{
    background-color: #D3EEB8;
    font-family: 'Bricolage Grotesque', sans-serif;

}

.header-message{
    background-color: #50B96F;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-bottom: 1px;
}

.header-content{
    padding: 15px;
    display: flex;
}

.header-message p{
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    padding: 1px;
}


.header-search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 1px solid #50B96F;
    background-color: aliceblue;
}

.header-search img{
    height: 40px;
}

.header-search input{
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    background-color: aliceblue
    ;
}