body{
    background-color: #B0E37C;
    font-family: 'Bricolage Grotesque', sans-serif;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.child{
    font-size: 48px;
}